/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    text-align: center;
    color: #fff;
    z-index: 1;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.explore-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #bd081c;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.explore-button:hover {
    background-color: #8b0613;
}
